body {
	padding-top: 70px;
	height: 100%;
}

html {
	height: 100%;	
}

.lateral-box {
  background-color: #fafafa;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 2px;
}

.fill-height {
	height: 100%;
}
