<form role="form">
  <legend class="col-sm-12">Create Packet</legend>
  <div class="form-group col-sm-12">
    <label for="command">Name</label>
    <input type="text" class="form-control" id="command">
  </div>
  <div class="form-group col-sm-6">
    <label for="command">Command</label>
    <input type="text" class="form-control" id="command">
  </div>
  <div class="form-group col-sm-6">
    <label for="exampleInputPassword1">???</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
  </div>
  <div class="form-group col-sm-12">
    <label for="exampleInputPassword1">Emiters</label>
    <div class="checkbox-inline">
      <label>
        <input type="checkbox" value="">
        Client
      </label>
    </div>
    <div class="checkbox-inline">
      <label>
        <input type="checkbox" value="">
        Login Server
      </label>
    </div>
  </div>
  <div class="col-sm-12 form-actions">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>