<!DOCTYPE html>
<html>
<head>
    <title>teste</title>
    <link rel='stylesheet' href='test.css'>
    <script type='text/javascript' src='jquery.js'></script>
</head>
<body>
    <header>
        <h3>Packet Analize</h3>
    </header>
    <aside>
        
        <h4>Web client</h4>

        <nav>
            <ul>
                <li class="menu-text">Menu 1</li>
                <li class="menu-text">Menu 2</li>
                <li class="menu-text">Menu 3</li>
            </ul>
        </nav>
    </aside>
    <section>
        Teste teste teste
    </section>    
</body>
</html>
